<%= render "spaces/settings/nav" %>

<% content_for :nav_section do %>space_settings<% end %>
<% content_for :deferred_js do %>
<script>
  application.view = new PHLegacy.SpaceSettingsView(application);
</script>
<% end %>

<div id="settings" style="display: none;">
  <%= render "spaces/settings/general" %>
  <%= render "spaces/settings/memberships" %>
  <%= render "spaces/settings/publishing" %>
  <%= render "spaces/settings/browsability" %>
</div>