<form id="user_spaces_settings">
  <fieldset>
    <legend>Space memberships</legend>

    <p>You are currently a member of <%= pluralize(current_user.spaces.count, "space") %>.</p>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Space</th>
          <th>Contributions</th>
          <th>Membership Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <% labels = { 'member' => '', 'editor' => '', 'admin' => 'label-inverse', 'creator' => 'label-important' } %>

      <% @spaces.each do |space| %>
        <tr data-space="<%= space.id %>">
          <td>
            <a href="<%= user_space_url(space.user, space) %>">
              <%= fq_space_title space %>
            </a>
          </td>
          <td><%= pluralize(space.cached_pages_authored_by(current_user.id).size, "page" ) %></td>
          <td>
            <span class="label span1 text-center <%= labels[space.role_of(current_user)] %>">
              <%= space.role_of(current_user).capitalize %>
            </span>
          </td>
          <td>
            <div class="btn-group">
            <% if can? :update, space %>
              <a href="<%= user_space_settings_url(space.user.nickname, space.pretty_title) %>" class="btn btn-small">Manage</a>
            <% end %>
            <% unless space.is_creator?(current_user) %>
              <button data-role="leave_space" class="btn btn-danger btn-small">Leave</button>
            <% end %>
          </div>
          </td>
        </tr>
      <% end %>
    </table>

  </fieldset>
</form>