<%= render "settings/nav" %>

<% content_for :nav_section do %>settings<% end %>
<% content_for :deferred_js do %>
<script>
  application.view = new PHLegacy.UserSettingsView(application);
</script>
<% end %>

<div id="settings" style="display: none;">
  <%= render "settings/profile" %>
  <%= render "settings/account" %>
  <%= render "settings/editing" %>
  <%= render "settings/spaces" %>
</div>