<% content_for :section do %> spaces settings <% end %>

<nav>
  <ul class="settings-nav">
    <li><a <%= 'class="disabled"' unless @space.is_creator?(current_user) %>
           href="general">General</a>
    </li>
    <li><a <%= 'class="disabled"' unless @space.is_admin?(current_user) %>
           href="memberships">Memberships</a>
    </li>
    <li><a <%= 'class="disabled"' unless @space.is_admin?(current_user) %>
           href="publishing">Publishing</a>
        <%= render "/spaces/settings/publishing/nav" %>
    </li>
    <li><a <%= 'class="disabled"' unless @space.is_admin?(current_user) %>
           href="browsability">Browsability</a>
    </li>
  </ul>

  <div class="settings-nav__save-button">
    <button data-role="save" class="btn btn-primary">Save</button>
  </div>
</nav>
