<li>
  <div class="emblems">
    {{#if isPublic}}
      <div
        class="emblem public"
        rel="tooltip"
        title="This is a public space, everyone can browse it."></div>
    {{else}}
      <div
        class="emblem private"
        rel="tooltip"
        title="This is a private space, guests can not browse it."></div>
    {{/if}}

    {{#if isOwner}}
      <div class="emblem owner" rel="tooltip" title="You own this space."></div>
    {{/if}}

    {{#if isMember}}
      <div class="emblem accessible" rel="tooltip" title="You have access to this space."></div>
    {{/if}}
  </div>

  <div class="meta">
    <h3 class="blocky-heading">
      <a href="{{#if isGuest}}{{media.href}}{{else}}{{media.actions.edit}}{{/if}}">
        <strong>{{{creator.nickname}}} / {{{title}}}</strong>
      </a>

      <div class="stats hint small">
        <span>{{#pluralize 'page' nrPages}}{{/pluralize}}</span>,
        <span>{{#pluralize 'member' nrMembers}}{{/pluralize}}</span>
      </div>
    </h3>

    <p class="hint">
      {{#if brief}}
        {{{brief}}} {{! rabl already does HTML escaping }}
      {{else}}
        <em class="small">No description available.</em>
      {{/if}}
    </p>
  </div>
</li>