<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>

  <title>PageHub</title>

  <%= stylesheet_link_tag 'compiled/app', media: 'all' %>
  <%= yield :css %>

  <link rel="shortcut icon" href="/favicon.ico">

  <script src="/javascripts/vendor/require.js"></script>
  <%= render "layouts/js_env" %>
</head>

<body class="<%= logged_in? ? 'member' : 'guest' %> light">
  <%= yield  :wraps %>
  <%= render "layouts/header" %>

  <div class="status-wrap">
    <div id="status"></div>
    <%= render "layouts/flashes" %>
  </div>

  <div class="stuff content-wrapper">
    <% klasses = [ request.path.gsub('/', ' ').strip.sanitize.split('-').first ] %>
    <% klasses << (yield :section if content_for?(:section)) %>

    <div id="content" class="<%= klasses.join(' ') %>">
      <%= yield %>
    </div>
  </div>

  <div id="loader" class="loader"></div>
  <div class="loader-overlay"></div>

  <%= render "layouts/footer" %>

  <script src="/javascripts/compiled/app.js"></script>

  <%= render "layouts/page_scripts" %>
</body>

</html>